div
{
    color:black;
    text-align:center;
}

body
{
    background-color:lightskyblue;
}

output1
{
    white-space: pre-line;
    margin-top: 20px;
    font-style: italic;
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td { 
  border-color: black;
}
tr:hover {
    background-color: red;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.nav-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
  margin: 20px 0;
}
